@import "../../assets/scss/vars/colors.scss";
@import "../../assets/fonts/fonts.scss";
// ??
.default {
  use {
    color: $color-primary-0;
    stroke: $color-primary-0;
  }
}
.chosen {
  use {
    color: $color-chosen;
    stroke: $color-chosen;
  }
}
