@import "../../assets/scss/vars/colors.scss";
@import "../../assets/fonts/fonts.scss";

* {
  font-family: $text-font;
}

.default {
  use {
    color: $color-primary-0;
    stroke: $color-primary-0;
  }
}
.chosen {
  use {
    color: $color-chosen;
    stroke: $color-chosen;
  }
}

.highlighted {
  color: $color-orange;
  fill: green;
}

.default-icon-color {
  color: $color-primary-0;
  fill: $color-primary-0;
}
.button-icon-margin {
  margin: .3em;
}

.button {
  border-radius: .3em;
  line-height: 2em;
}
.input-icon {
  color: $color-pale-primary-lightest;
}
