$hamburger-layer-color: hsl(0, 0%, 100%);
// $hamburger-padding-x: 2em;
// $hamburger-padding-y: 2em;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-border-radius: 0px;
// $hamburger-layer-color                     : #000 !default;
$hamburger-hover-opacity: .3;
// $hamburger-hover-transition-duration       : 0.15s !default;
// $hamburger-hover-transition-timing-function: linear !default;
