$hamburger-layer-color: hsl(0, 0%, 100%);
// $hamburger-padding-x: 2em;
// $hamburger-padding-y: 2em;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-border-radius: 4px;
// $hamburger-layer-color                     : #000 !default;

// $hamburger-hover-opacity                   : 0.7 !default;
// $hamburger-hover-transition-duration       : 0.15s !default;
// $hamburger-hover-transition-timing-function: linear !default;