{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "corejs": "3.0.0",
        "targets": {
          "esmodules": true,
          "ie": "11"
        }
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "ignore": [
    "node_modules"
  ]
}
