.DS_Store
node_modules/
/www/dist/
dist/
platforms/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
/src/components/Register.vue.bak
/src/components/firebaseConfig.js
temp.css
temp.html

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
