svg {
  width: 2.3em;
  height: 2.3em;
}

svg path {
  fill: none;
  stroke-width: .9em;
}
/*
.dice {
  width: auto;
  height: auto;
}
*/
.default {
  color: $color-primary-0;
  stroke: $color-primary-0;
}

.chosen {
  color: $color-chosen;
  stroke: $color-chosen;
}
