svg {
  height: 2em;
  // display: flex;
  // padding-bottom: 20%;
}
svg path {
  fill: none;
  stroke-width: .9em;
}

.dice {
  width: auto;
  height: auto;
}

.default {
  color: $color-primary-0;
  stroke: $color-primary-0;
}

.chosen {
  color: $color-chosen;
  stroke: $color-chosen;
}
